<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            id="idees.gama.diagram.MyGamaDiagramType"
            name="My Graphiti Gama Diagram Type"
            type="gamaDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="idees.gama.diagram.MyGamaDiagramTypeProvider"
            id="idees.gama.diagram.MyGamaDiagramTypeProvider"
            name="Gama Diagram">
         <diagramType
               id="idees.gama.diagram.MyGamaDiagramType">
         </diagramType>
         <imageProvider
               id="idees.gama.ui.image.GamaImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="idees.gama.ui.image.GamaImageProvider"
            id="idees.gama.ui.image.GamaImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="idees.gama.ui.wizards.NewFileWizard"
            icon="icons/wizards/diagram.png"
            id="idees.gama.graphicalmodeling.Newwizard"
            name="Model diagram">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="graphicalModelingMenu"
               label="Graphical Modeling">
            <command
                  commandId="idees.gama.application.commands.GenerateDiagram"
                  label="Generate diagram"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isGamlEditorOpened">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="idees.gama.ui.commands.GenerateDiagramHandler"
            id="idees.gama.application.commands.GenerateDiagram"
            name="Generate Diagram">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="idees.gama.diagram.GamaDiagramEditor"
            default="true"
            extensions="gadl"
            icon="icons/wizards/diagram_small.png"
            id="idees.gama.graphicalmodeling.diagram.gamadiagrameditor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorFactory$DiagramEditorMatchingStrategy"
            name="Gama Diagram Editor">
      </editor>
   </extension>

</plugin>
