*.log
target/
target/*
*.orig
build
build/*
dist
dist/*
private
private/*
release/
release/*
*.iml
*.ipr
*.iws
*.iml
.idea/
.idea/*
*~
*.bak
.directory
.DS_Store
*.history
*.class
.metadata/
.metadata/*
/*/gaml/
/*/bin/
msi.gama.ext/lib/
