language: java
jdk:
  - oraclejdk8
before_install:
- echo -e "machine github.com\n  login $CI_USER_TOKEN" >> ~/.netrc
- echo "MAVEN_OPTS='-Xmx2048m -XX:MaxPermSize=512m'" >> ~/.mavenrc
notifications:
  email:
    recipients:
    - my.gama.bot@gmail.com
    on_success: change
    on_failure: always
cache:
  directories:
  - "$HOME/.m2"
script: sh ./build.sh
after_success: bash ./github-release.sh "$TRAVIS_COMMIT" 
branches:
  only:
    - master
