<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="gaml.grammar.addition" name="Addition to the grammar of GAML" schema="schema/gaml.grammar.addition.exsd"/>
   <extension-point id="gama.display" name="Implementations of IDisplaySurface" schema="schema/gama.display.exsd"/>
   <extension-point id="gama.create" name="Implementations of ICreateDelegate" schema="schema/gama.create.exsd"/>
   <extension-point id="gama.event_layer" name="Implementations of IEventLayerDelegate" schema="schema/gama.event_layer.exsd"/>
   <extension-point id="gaml.extension" name="Additions to the GAML language" schema="schema/gaml.extension.exsd"/>
   <extension-point id="gama.models" name="Allow plugins to add sample models to GAMA" schema="schema/gama.models.exsd"/>
   <extension-point id="gama.experiment" name="Implementations of IExperimentAgent" schema="schema/gama.experiment.exsd"/>
   <extension
         point="gama.display">
      <implementation
            class="msi.gama.outputs.ImageDisplaySurface"
            keyword="image">
      </implementation>
   </extension>
   <extension
         name="csv"
         point="gama.create">
      <implementation
            class="msi.gaml.statements.CreateFromCSVDelegate"
            description="Create agents from CSV files">
      </implementation>
   </extension>
   <extension
         name="shapes"
         point="gama.create">
      <implementation
            class="msi.gaml.statements.CreateFromGeometriesDelegate">
      </implementation>
   </extension>
   <extension
         point="gama.create">
      <implementation
            class="msi.gaml.statements.CreateFromGridFileDelegate"
            description="Create agents from a grid file">
      </implementation>
   </extension>
   <extension
         point="gama.create">
      <implementation
            class="msi.gaml.statements.CreateFromNullDelegate"
            description="Create agents with no source">
      </implementation>
   </extension>
   <extension
         point="gama.create">
      <implementation
            class="msi.gaml.statements.CreateFromGenstarDelegate"
            description="Create agents from CSV Genstar files">
      </implementation>
   </extension>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         point="gama.experiment">
      <implementation
            class="msi.gama.kernel.experiment.ExperimentAgent"
            keyword="gui">
      </implementation>
   </extension>
   <extension
         point="gama.experiment">
      <implementation
            class="msi.gama.kernel.experiment.BatchAgent"
            keyword="batch">
      </implementation>
   </extension>
   <extension
         point="gama.event_layer">
      <implementation
            class="msi.gama.outputs.layers.MouseEventLayerDelegate">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.core.resources.variableResolvers">
      <variableResolver
            class="msi.gama.util.file.CacheLocationProvider"
            variable="CACHE_LOC">
      </variableResolver>
   </extension>

</plugin>
