<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="gaml.grammar.addition" name="Addition to the grammar of GAML" schema="schema/gaml.grammar.addition.exsd"/>
   <extension-point id="gama.display" name="Implementations of IDisplaySurface" schema="schema/gama.display.exsd"/>
   <extension
         point="gaml.grammar.addition">
      <path
            name="gaml">
      </path>
   </extension>
   <extension
         point="gama.display">
      <implementation
            class="msi.gama.outputs.ImageDisplaySurface"
            keyword="image">
      </implementation>
   </extension>

</plugin>
