<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="msi.gama.gui.gamanavigator.GamaNavigator"
            icon="platform:/plugin/msi.gama.gui.application/icons/view_navigator.png"
            id="msi.gama.gui.view.GamaNavigator"
            name="GamaNavigator"
            restorable="true">
      </view>
            <view
            category="msi.gama.gui.category.svn.gama"
            class="org.eclipse.team.svn.ui.repository.RepositoriesView"
            icon="platform:/plugin/msi.gama.gui.application/icons/view_repositories.gif"
            id="msi.gama.gui.application.view.RepositoriesView"
            name="Repositories"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.EditActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PortingActions">
            </actionExtension>
		   <actionExtension
		         pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
		   </actionExtension>
     <actionExtension
           pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
     </actionExtension>

         </includes>
         <excludes>
         <!-- we have to name all of these separately, since we don't all of these -->          	
			<actionExtension 
				pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
			<actionExtension 
				pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
			<actionExtension 
				pattern="org.eclipse.ui.navigator.resources.WorkingSetActionProvider">
            </actionExtension>
			<actionExtension
				pattern="org.eclipse.ui.navigator.resources.RefactorActions">
            </actionExtension>
         </excludes>
      </viewerActionBinding>
         
      <viewerContentBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <contentExtension
                  pattern="msi.gama.gui.application.resourceVirtualNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="msi.gama.gui.application.resourceNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="msi.gama.gui.application.resourceProjectExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="msi.gama.gui.application.resourceLocalModelsExplorerContent">
            </contentExtension>
            <contentExtension
                  pattern="msi.gama.gui.application.resourceSharedModelsExplorerContent">
            </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resourceContent">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.filters.*">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.linkHelper">
          </contentExtension>
          <contentExtension
                pattern="org.eclipse.ui.navigator.resources.workingSets">
          </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="msi.gama.gui.view.GamaNavigator">
      </dragAssistant>
      
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="msi.gama.gui.gamanavigator.VirtualContentProvider"
            id="msi.gama.gui.application.resourceVirtualNavigatorContent"
            labelProvider="msi.gama.gui.gamanavigator.NavigatorLabelProvider"
            name="Virtual GamaNavigator Content"
            priority="normal"
            providesSaveables="false">
         	<triggerPoints>
	            <instanceof
	                  value="msi.gama.gui.gamanavigator.NavigatorRoot">
	            </instanceof>
         	</triggerPoints>
      	</navigatorContent>
  		<navigatorContent
            activeByDefault="true"
            contentProvider="msi.gama.gui.gamanavigator.NavigatorContentProvider"
            id="msi.gama.gui.application.resourceNavigatorContent"          
            labelProvider="msi.gama.gui.gamanavigator.NavigatorLabelProvider"
            name="Resource Projects Folder Content"
            priority="normal"
            providesSaveables="false">
         	<triggerPoints>
	            <instanceof
	                  value="msi.gama.gui.gamanavigator.VirtualProjectFolder">
	            </instanceof>
     		</triggerPoints>
      	</navigatorContent>
		
  		<navigatorContent
        activeByDefault="true"
        contentProvider="msi.gama.gui.gamanavigator.NavigatorContentProvider"
        id="msi.gama.gui.application.resourceLocalModelsExplorerContent"
        labelProvider="msi.gama.gui.gamanavigator.NavigatorLabelProvider"
        name="Resource Local Models Content"
        priority="normal"
        providesSaveables="false">
     <triggerPoints>
        <instanceof
              value="msi.gama.gui.gamanavigator.VirtualModelsFolder">
        </instanceof>
     </triggerPoints>
  </navigatorContent>
  <navigatorContent
        activeByDefault="true"
        contentProvider="msi.gama.gui.gamanavigator.NavigatorContentProvider"
        id="msi.gama.gui.application.resourceSharedModelsExplorerContent"
        labelProvider="msi.gama.gui.gamanavigator.NavigatorLabelProvider"
        name="Resource Shared Models Content"
        priority="normal"
        providesSaveables="false">
     <triggerPoints>
        <instanceof
              value="msi.gama.gui.gamanavigator.VirtualSharedModelsFolder">
        </instanceof>
     </triggerPoints>
  </navigatorContent>
	</extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:msi.gama.gui.view.GamaNavigator?after=group.new">
         <dynamic
               class="msi.gama.gui.application.commands.ExperimentMenu"
               id="msi.gama.gui.application.menu.ExperimentMenu">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.gaml">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.xml">
                           </test>
                        </or>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </dynamic>
         <command
               commandId="msi.gama.gui.application.commands.CheckoutProject"
               label="Checkout Project From Repository"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate>
                     <adapt
                           type="msi.gama.gui.gamanavigator.FileBean">
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="msi.gama.gui.application.commands.CopyProjectToWorkspace"
               label="Copy to Workspace"
               mnemonic="C"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>         
         <command
               commandId="msi.gama.gui.application.commands.ConvertXmlToGaml"
               label="Convert to Gaml"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <test
                              property="org.eclipse.core.resources.name"
                              value="*.xml">
                        </test>
                     </adapt>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="msi.gama.gui.gamaNavigator.separator1"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/msi.gama.gui.application/icons/navigator/new.png"
               label="New"
               mnemonic="N"
               style="push">
         </command>
         <separator
               name="msi.gama.gui.gamaNavigator.separator2"
               visible="true">
         </separator>
         <command
               commandId="msi.gama.gui.application.commands.ImportProjectFromSVN"
               label="Update Library"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="and">
                     <instanceof
                           value="msi.gama.gui.gamanavigator.VirtualSharedModelsFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="msi.gama.gui.application.commands.OpenBrowser"
               icon="platform:/plugin/msi.gama.gui.application/icons/navigator/documentation.png"
               label="Open documentation"
               mnemonic="O"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.text.openLocalFile"
               label="Open File.."
               mnemonic="O"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               icon="platform:/plugin/msi.gama.gui.application/icons/navigator/search.png"
               label="Search Resource"
               mnemonic="S"
               style="push">
         </command>
         <command
               commandId="msi.gama.gui.gamaNavigator.commands.Refresh"        
               icon="platform:/plugin/msi.gama.gui.application/icons/navigator/refresh.gif"
               label="Refresh"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <or>
                        <instanceof
                              value="msi.gama.gui.gamanavigator.FileBean">
                        </instanceof>
                        <instanceof
                              value="msi.gama.gui.gamanavigator.VirtualProjectFolder">
                        </instanceof>
                        <instanceof
                              value="msi.gama.gui.gamanavigator.VirtualSharedModelsFolder">
                        </instanceof>
                        <instanceof
                              value="msi.gama.gui.gamanavigator.VirtualModelsFolder">
                        </instanceof>
                     </or>
                  </iterate>
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.OpenBrowserHandler"
            id="msi.gama.gui.application.commands.OpenBrowser"
            name="Open Html Browser">
      </command>
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.AskSvnGamaAccess"
            id="msi.gama.gui.application.commands.AskSvnGamaAccess"
            name="Ask an access to Gama Svn">
      </command>
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.UpdateSVNModelsLibraryHandler"
            id="msi.gama.gui.application.commands.UpdateSVNModelsLibrary"
            name="Update SVN Models Library">
      </command> 
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.ImportProjectsFromSVNHandler"
            id="msi.gama.gui.application.commands.ImportProjectFromSVN"
            name="Update Library">
      </command>
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.RefreshHandler"
            id="msi.gama.gui.gamaNavigator.commands.Refresh"
            name="Refresh">
      </command>
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.CopyProjectToWorkspaceHandler"
            id="msi.gama.gui.application.commands.CopyProjectToWorkspace"
            name="Copy to Workspace">
      </command>
      <command
            defaultHandler="msi.gama.gui.gamanavigator.commands.CheckoutProjectHandler"
            id="msi.gama.gui.application.commands.CheckoutProject"
            name="Checkout Project From Repository">
      </command>
   </extension>

</plugin>
