[Desktop Entry]
Name=Gama Platform
Comment=version 1.8.2
Exec=GDK_BACKEND=x11 /opt/gama-platform/Gama
Icon=/opt/gama-platform/icon.icns
Terminal=false
Type=Application
StartupNotify=true
Categories=TextEditor;