<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
            point="gama.display">
         <implementation
               class="msi.gama.jogl.JOGLAWTDisplaySurface"
               keyword="opengl">
         </implementation>
         
    </extension>
    <extension
          point="org.eclipse.ui.views">
           <view 
            allowMultiple="true"
           category="msi.gama.gui.category.gama"
            class="msi.gama.jogl.GLView"
            icon="icons/view_console.png"
            id="msi.gama.jogl.GLView"
            name="GL"
            restorable="true">
  		</view>
    </extension>
    

</plugin>
