<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="gaml.extension">
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="true"
             category="msi.gama.gui.category.gama"
             class="ummisco.gama.opengl.OpenGLDisplayView"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/view.display2.png"
             id="msi.gama.application.view.OpenGLDisplayView"
             name="3D"
             restorable="false">
       </view>
    </extension>
    <extension
          point="gama.display">
       <implementation
             class="ummisco.gama.opengl.SWTOpenGLDisplaySurface"
             keyword="opengl">
       </implementation>
    </extension>
    <extension
          point="org.eclipse.ui.services">
       <serviceFactory
             factoryClass="ummisco.gama.opengl.OpenGLInitializer">
          <service></service>
          <service
                serviceClass="ummisco.gama.ui.interfaces.IOpenGLInitializer">
          </service>
       </serviceFactory>
    </extension>
</plugin>
