<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          point="gaml.extension">
    </extension>
    <extension
          point="org.eclipse.ui.views">
       <view
             allowMultiple="true"
             category="msi.gama.gui.category.gama"
             class="ummisco.gama.opengl.view.OpenGLDisplayView"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/views/tabs/view.display.png"
             id="msi.gama.application.view.OpenGLDisplayView"
             name="3D"
             restorable="false">
       </view>
    </extension>    
    <extension
          point="gama.display">
       <implementation
             class="ummisco.gama.opengl.view.SWTOpenGLDisplaySurface"
             keyword="opengl">
       </implementation>
       <implementation
             class="ummisco.gama.opengl.view.SWTOpenGLDisplaySurface"
             keyword="3d">
       </implementation>
       <implementation
             class="ummisco.gama.opengl.view.SWTOpenGLDisplaySurface"
             keyword="3D">
       </implementation>
    </extension>
</plugin>
