<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         point="gama.constants">
      <implementation
            class="ummisco.gaml.extensions.maths.ode.MathConstantSupplier">
      </implementation>
   </extension>

</plugin>
