<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   
     <extension
         point="gama.create">
      <implementation
            class="irit.gaml.extensions.database.utils.CreateFromDatabaseDelegate"
            description="Create agents from databases">
      </implementation>
   </extension>
 

</plugin>
