<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gama.display">
      <implementation
            class="msi.gama.display.web.WebDisplaySurface"
            keyword="web">
      </implementation>
   </extension>
   <extension
         point="gaml.extension">
   </extension>

</plugin>
