<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/folder.model3.png"
            id="msi.gama.application.nature.gamaNature.img"
            natureId="msi.gama.application.gamaNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            description="Disable unwanted eclipse UI"
            id="disabled"
            name="Disable Unwanted UI">
      </activity>
      <activity
            id="disabled3"
            name="Disable P2 activity">
      </activity>
      
            <activityPatternBinding
            activityId="disabled2"
            pattern=".*/.*Nature">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            isEqualityPattern="false"
            pattern="msi.gama.application/msi.gama.application.perspectives..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*navigator.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*compare.*/.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="disabled"
            pattern="org.eclipse.*team.*/.*">
      </activityPatternBinding>
      <activity
            id="disabled2"
            name="Disable XText activity">
      </activity>
      <activityPatternBinding
            activityId="disabled3"
            pattern=".*/.*restartWorkbench">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="msi.gama.gui.category.gama"
            name="Gama">
      </category>
            <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.InteractiveConsoleView"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/view.interactive2.png"
            id="msi.gama.application.view.InteractiveConsoleView"
            name="Interactive console"
            restorable="true">
      </view>
            <view
                  allowMultiple="false"
                  category="msi.gama.gui.category.gama"
                  class="ummisco.gama.ui.views.TestView"
                  icon="/icons/view.test2.png"
                  id="msi.gama.application.view.TestView"
                  name="Tests"
                  restorable="false">
            </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.OpenGamaWebsiteHandler"
            id="msi.gama.application.command.web"
            name="Welcome page">
      </command>
      <category
            id="msi.gama.category"
            name="Specific to GAMA">
      </category>
      <commandParameterType
            id="msi.gama.application.String"
            type="java.lang.String">
      </commandParameterType>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.edit.copy"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.copy2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.cut"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.cut2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.delete"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.delete2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.paste"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.paste2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.print"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.print2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.undo"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.undo2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.redo"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.redo2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.save"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.save2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAll"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.saveall2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAs"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.saveas2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.refresh"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.refresh2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.export"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.export2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.import"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.import2.png">
      </image>
      <image
            commandId="org.eclipse.ui.navigate.collapseAll"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.collapse2.png">
      </image>
      <image
            commandId="org.eclipse.ui.window.preferences"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.open.preferences2.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.project.buildAll">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.debug">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externalTools.commands.OpenExternalToolsConfigurations">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.addToWorkingSet">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.removeFromWorkingSet">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.back">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forward">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.up">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoPreviousAnnotation">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="msi.gama.application.common.toolbar"
               label="Common">
            <command
                  commandId="msi.gama.application.goto.modeling"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/perspective.modeling2.png"
                  label="Modeling perspective"
                  style="push"
                  tooltip="Open modeling perspective">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <reference
                           definitionId="isInModelingPerspective">
                     </reference>
                  </not>
               </visibleWhen>
            </command>
            <separator
                  name="additions"
                  visible="false">
            </separator>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=open.ext">
         <command
               commandId="ummisco.gama.ui.switchWorkspace"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.switch2.png"
               label="Switch workspace..."
               style="push">
         </command>
         <command
               commandId="ummisco.gama.ui.restart"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.restart2.png"
               label="Restart GAMA"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:help?after=group.about.ext">
         <separator
               name="ummisco.gama.ui.shared.help.separator2"
               visible="true">
         </separator>
         <command
               commandId="ummisco.gama.ui.update"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.update2.png"
               label="Check for updates"
               style="push">
         </command>
         <command
               commandId="ummisco.gama.ui.install"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.install2.png"
               label="Install new plugins..."
               style="push">
         </command>
         <command 
               commandId="ummisco.gama.ui.details"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.details2.png"
               label="Installation details"
               style="push">
         </command>
         <separator
               name="ummisco.gama.ui.shared.help.separator"
               visible="true">
         </separator>
         <command
               commandId="msi.gama.application.command.web"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/menu.open.web2.png"
               label="Welcome page"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension  point="org.eclipse.ui.commands">
      
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.DetailsHandler"
            id="ummisco.gama.ui.details"
            name="Installation details">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.SwitchWorkspaceHandler"
            id="ummisco.gama.ui.switchWorkspace"
            name="Switch Workspace">
     </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.InstallHandler"
            id="ummisco.gama.ui.install"
            name="Install new plugins...">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.UpdateHandler"
            id="ummisco.gama.ui.update"
            name="Check for updates">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.RestartHandler"
            id="ummisco.gama.ui.restart"
            name="Restart GAMA">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.handlers">
               <handler
            class="ummisco.gama.ui.commands.PreferencesHandler"
            commandId="org.eclipse.ui.window.preferences">
         <activeWhen>
            <or>
               <reference
                     definitionId="isInModelingPerspective">
               </reference>
               <reference
                     definitionId="isInSimulationPerspective">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ummisco.gama.ui.Startup">
      </startup>
   </extension>
   <extension point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="ummisco.gama.ui.shared.WebHelperFactory">
         <service
               serviceClass="msi.gama.application.workbench.IWebHelper">
         </service>
      </serviceFactory>
      <serviceFactory
            factoryClass="ummisco.gama.ui.shared.IconProviderFactory">
         <service
               serviceClass="msi.gama.application.workbench.IIconProvider"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="ummisco.gama.ui.shared.PreferenceHelperFactory">
         <service
               serviceClass="msi.gama.application.workbench.IPreferenceHelper">
         </service>
      </serviceFactory>
   </extension>

</plugin>
