<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
<extension point="org.eclipse.core.contenttype.contentTypes">
<content-type id="gaml.encoding" name="GAML encoding"
base-type="org.eclipse.core.runtime.text"
priority="high"	
file-extensions="gaml"
default-charset="UTF-8">
</content-type>
</extension>
    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="gaml"
            id="msi.gama.lang.gaml.Gaml"
            name="Gaml Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="msi.gama.lang.gaml.Gaml.validate">
         <activeWhen>
            <reference
                    definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
        <handler
              class="RebuildAllHandler"
              commandId="org.eclipse.ui.project.rebuildAll">
        </handler>
        <handler
              class="CleanAllHandler"
              commandId="org.eclipse.ui.project.cleanAction">
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="msi.gama.lang.gaml.Gaml.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="msi.gama.lang.gaml.Gaml" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="msi.gama.lang.gaml.Gaml"
            name="Gaml">
            <keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
        </page>
        <page
            category="msi.gama.lang.gaml.Gaml"
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="msi.gama.lang.gaml.Gaml.coloring"
            name="Syntax Coloring">
            <keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
        </page>
        <page
            category="msi.gama.lang.gaml.Gaml"
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="msi.gama.lang.gaml.Gaml.templates"
            name="Templates">
            <keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
        </page>
    </extension>
    <extension
                point="org.eclipse.ui.propertyPages">
        <page
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="msi.gama.lang.gaml.Gaml"
            name="Gaml">
            <keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="msi.gama.lang.gaml.ui.keyword_Gaml"
            label="Gaml"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="msi.gama.lang.gaml.Gaml.validate"
            name="Validate">
      </command>
      <command
            defaultHandler="EnableAutomaticBuildHandler"
            id="msi.gama.lang.gaml.ui.enableAutomaticBuild"
            name="Enable automatic validation">
      </command>
      <command
            defaultHandler="DisableAutomaticBuildHandler"
            id="msi.gama.lang.gaml.ui.disableAutomaticBuild"
            name="Disable automatic validation">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="msi.gama.lang.gaml.Gaml.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="gaml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="gaml">
        </resourceServiceProvider>
    </extension>



   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="msi.gama.lang.gaml.Gaml"
	        class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="msi.gama.lang.gaml.Gaml.refactoring"
	        name="Refactoring">
	        <keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
	    </page>
	</extension>
  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="msi.gama.lang.gaml.Gaml.compare.contentViewers"
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gaml">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="msi.gama.lang.gaml.Gaml.compare.contentMergeViewers"
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="gaml" label="Gaml Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="msi.gama.lang.gaml.Gaml.editors.documentProviders"
            class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="gaml">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <view
           allowMultiple="false"
           class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.search2.internal.ui.SearchView"
           icon="icons/_inspect.png"
           id="org.eclipse.search.ui.views.SearchView"
           name="Search Results"
           restorable="true">
     </view>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.ui.main.menu">
        <menu
              id="validationMenu"
              label="Validation">
           <command
                 commandId="org.eclipse.ui.project.cleanAction"
                 label="Clean and validate all models"
                 style="push">
           </command>
           <command
                 commandId="org.eclipse.ui.project.rebuildAll"
                 label="Validate all models"
                 style="push">
           </command>
           <separator
                 name="msi.gama.lang.gaml.ui.separator1"
                 visible="true">
           </separator>
           <command
                 commandId="msi.gama.lang.gaml.ui.enableAutomaticBuild"
                 label="Enable automatic validation"
                 style="push">
           </command>
           <command
                 commandId="msi.gama.lang.gaml.ui.disableAutomaticBuild"
                 label="Disable automatic validation"
                 style="push">
           </command>
           <command
                 commandId="msi.gama.lang.gaml.Gaml.validate"
                 label="Validate model"
                 style="push">
           </command>
        </menu>
     </menuContribution>
  </extension>
    <extension point="org.eclipse.ui.decorators"> 
           <decorator
                 adaptable="true"
                 class="msi.gama.lang.gaml.ui.decorators.GamlDecorator"
                 id="msi.gama.light.decorator"
                 label="Gaml Errors"
                 lightweight="true"
                 location="TOP_LEFT"
                 state="true">
          <description>
             Aggregates errors in resources to folders and projects.
          </description>
          <enablement>
             <objectClass
                   name="org.eclipse.core.resources.IResource">
             </objectClass>
          </enablement>
       </decorator>
	</extension>


</plugin>
