<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="msi.gama.hpc.gui.perspective.chart.HeadlessChart"
            id="msi.gama.hpc.chartExplorer"
            name="msi.gama.hpc.chartExplorer"
            restorable="true">
      </view>
      <view
            class="msi.gama.hpc.gui.perspective.explorer.HeadlessParam"
            id="msi.gama.hpc.explorer"
            name="msi.gama.hpc.explorer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="msi.gama.hpc.gui.perspective.HPCPerspectiveFactory"
            id="msi.gama.hpc.HPCPerspectiveFactory"
            name="msi.gama.hpc.HPCPerspectiveFactory">
         <description>
            description body text
         </description>
      </perspective>
   </extension>

</plugin>
