Package: gama-platform
Version: 1.9.2
Maintainer: GAMA Team <gama-platform@googlegroups.com>
Architecture: amd64
Homepage: https://gama-platform.org
Description: GAMA is a modeling and simulation development environment for building spatially explicit agent-based simulations
Depends: openjdk-17-jdk
Conflicts: gama-platform-jdk
Replaces: gama-platform-jdk
