<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gama.display">
      <implementation
            class="ummisco.gama.java2d.Java2DDisplaySurface"
            keyword="java2D">
      </implementation>
      <implementation
            class="ummisco.gama.java2d.Java2DDisplaySurface"
            keyword="2d">
      </implementation>
      <implementation
            class="ummisco.gama.java2d.Java2DDisplaySurface"
            keyword="2D">
      </implementation>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.java2d.AWTDisplayView"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/views/tabs/view.display.png"
            id="msi.gama.application.view.LayeredDisplayView"
            name="Display"
            restorable="false"> 
      </view>
   </extension>
   <extension
         point="gaml.extension">
   </extension>

</plugin>
