<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="msi.gama.gui.xmleditor.editors.GAMLXMLEditor"
            default="true"
            extensions="xml"
            icon="icons/xml_editor.png"
            id="msi.gama.gui.xmleditor.editors.GAMLEditor"
            name="GAML_XML Editor">
      </editor>
   </extension>
    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
        class="msi.gama.gui.xmleditor.editors.GAMLXMLViewerConfiguration"
        target="msi.gama.gui.gamlEditor.gaml"/>
		<contentOutlineConfiguration
        class="msi.gama.gui.xmleditor.editors.GAMLXMLContentOutlineConfiguration"
        target="msi.gama.gui.gamlEditor.gaml">
		</contentOutlineConfiguration>
	</extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            file-extensions="xml"
            id="msi.gama.gui.gamlEditor.gaml"
            name="GAML Source"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
   </extension>

</plugin>
