<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="ummisco.gama.ui.navigator.NavigatorBaseLighweightDecorator"
            id="msi.gama.application.decorator"
            label="Metadata Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.LinkedFile">
               </objectClass>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.WrappedProject">
               </objectClass>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <or>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.gaml.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.shapefile.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.csv.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.images.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.shapefile.support.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.osm.type">
                     </objectState>
                  </or>
               </and>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.WrappedFolder">
               </objectClass>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.TopLevelFolder">
               </objectClass>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.WrappedFile">
               </objectClass>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.WrappedGamaFile">
               </objectClass>
               <objectClass
                     name="ummisco.gama.ui.navigator.contents.WrappedSyntacticContent">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="ummisco.gama.ui.navigator.NavigatorDateLighweightDecorator"
            id="msi.gama.application.date.decorator"
            label="Date Decorator"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            state="false">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:navigator.menu?after=group.new">
         <menu
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
               id="menu.new"
               label="New...">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
                  label="Project..."
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.newProjectWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
                  label="Model…"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.NewFileWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
                  label="Experiment…"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.NewExperimentWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
                  label="Test…"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.NewTestExperimentWizard">
               </parameter>
            </command>
            <separator
                  name="msi.gama.application.separator22"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
                  label="Other..."
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                        <instanceof
                              value="ummisco.gama.ui.navigator.contents.TopLevelFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <menu
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import2.png"
               id="menu.gama.import"
               label="Import..."
               mnemonic=" ">
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.project2.png"
                  label="Project…"
                  style="push">
               <parameter
                     name="importWizardId"
                     value="ummisco.gama.ui.import.ExternalProject">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.disk2.png"
                  label="From disk..."
                  style="push">
               <parameter
                     name="importWizardId"
                     value="ummisco.gama.ui.import.ExternalFile">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.archive2.png"
                  label="From archive..."
                  style="push">
               <parameter
                     name="importWizardId"
                     value="ummisco.gama.ui.import.ZipFile">
               </parameter>
            </command>
            <separator
                  name="msi.gama.application.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import2.png"
                  label="Other..."
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="and">
                     <or>
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                        <instanceof
                              value="ummisco.gama.ui.navigator.contents.TopLevelFolder">
                        </instanceof>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <separator
               name="msi.gama.gui.gamaNavigator.separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:new?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
               label="GAMA Project..."
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.newProjectWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
               label="Model File…"
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.NewFileWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
               label="Experiment…"
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.NewExperimentWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
               label="Test…"
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.NewTestExperimentWizard">
            </parameter>
         </command>
         <separator
               name="msi.gama.application.separator10"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
               label="Other..."
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.RefreshHandler"
            id="msi.gama.gui.gamaNavigator.commands.Refresh"
            name="Refresh">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.FileOpen"
            id="msi.gama.application.commands.OpenFile"
            name="Open File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="msi.gama.gui.view.GamaNavigator">
         <popupMenu
                allowsPlatformContributions="true"
                id="navigator.menu">  
             <insertionPoint name="group.new"/>
             <insertionPoint
                   name="group.open"
                   separator="true"/>
             <insertionPoint name="group.openWith"/>   
             <insertionPoint name="group.copy"
                   separator="true"/>   
             <insertionPoint
                   name="group.refresh"
                   separator="true"/>
             <insertionPoint
                   name="additions"
                   separator="true">
             </insertionPoint>             
          </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <actionExtension
                  pattern="edit.actions">
            </actionExtension>
            <actionExtension
                  pattern="openclose.actions">
            </actionExtension>
            <actionExtension
                  pattern="refresh.actions">
            </actionExtension>
            <actionExtension
                  pattern="refactor.actions">
            </actionExtension>
            <actionExtension
                  pattern="open.actions">
            </actionExtension>
            <actionExtension
                  pattern="gaml.actions">
            </actionExtension>
         </includes>
         <excludes>
            <actionExtension
                  pattern="org.eclipse.ui.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.team.ui.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.internal.navigator.resources.actions.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.actions.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.internal.ui.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.team.internal.ui.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.xtext.builder.action.*">
            </actionExtension>
         </excludes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <contentExtension
                  pattern="msi.gama.application.shapefile.filter">
            </contentExtension>
            <contentExtension
                  isRoot="true"
                  pattern="msi.gama.application.resourceVirtualNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="ummisco.gama.ui.navigator.linkHelper1">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="msi.gama.gui.view.GamaNavigator">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="ummisco.gama.ui.navigator.NavigatorContentProvider"
            id="msi.gama.application.resourceVirtualNavigatorContent"
            labelProvider="ummisco.gama.ui.navigator.NavigatorLabelProvider"
            name="Virtual GamaNavigator Content"
            priority="highest"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.VirtualContent">
               </instanceof>

            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.LinkedFile">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.Category">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.VirtualContent">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="ummisco.gama.ui.navigator.NavigatorSorter"
               id="msi.gama.navigator.sorter">
            <parentExpression>
            <or>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.WrappedSyntacticContent">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.WrappedFile">
               </instanceof>
           </or>
            </parentExpression>
         </commonSorter>
         <commonSorter
               class="ummisco.gama.ui.navigator.FileFolderSorter">
            <parentExpression>
               <instanceof
                     value="ummisco.gama.ui.navigator.contents.WrappedContainer">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <dropAssistant
               class="ummisco.gama.ui.navigator.NavigatorDropAssistant"
               id="msi.gama.application.dropAssistant1">
            <possibleDropTargets>
               <instanceof
                     value="java.lang.Object">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
         <dropAssistant
               class="ummisco.gama.ui.navigator.NavigatorResourceDropAssistant"
               id="ummisco.gama.ui.navigator.dropAssistant2">
            <possibleDropTargets></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="ummisco.gama.ui.navigator.NavigatorFilter"
            id="msi.gama.application.shapefile.filter"
            name="Filters Shapefile support files"
            visibleInUI="true">
      </commonFilter>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.EditActionProvider"
            id="edit.actions"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.OpenCloseActionProvider"
            id="openclose.actions"
            priority="highest">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.RefreshActionProvider"
            id="refresh.actions">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <or>
                     <instanceof
                           value="ummisco.gama.ui.navigator.contents.TopLevelFolder">
                     </instanceof>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                     </adapt>
                  </or>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.RefactorActionProvider"
            id="refactor.actions"
            overrides="org.eclipse.ui.internal.navigator.resources.actions.RefactorActionProvider"
            priority="highest">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                  </adapt>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.OpenActionProvider"
            id="open.actions">
         <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="ummisco.gama.ui.navigator.contents.WrappedFile">
                  </instanceof>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="ummisco.gama.ui.navigator.actions.GamlActionProvider"
            id="gaml.actions"
            priority="highest">
             <enablement>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="ummisco.gama.ui.navigator.contents.WrappedSyntacticContent">
                  </instanceof>
               </iterate>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.navigator.GamaNavigator"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/view.navigator2.png"
            id="msi.gama.gui.view.GamaNavigator"
            name="Models"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="msi.gama.gui.wizards.GAMA"
            name="GAMA">
      </category>
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="ummisco.gama.ui.wizards.NewFileWizard"
            hasPages="true"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
            id="msi.gama.gui.wizards.NewFileWizard"
            name="Model file"
            project="false">
      </wizard>
       <wizard
             category="msi.gama.gui.wizards.GAMA"
             class="ummisco.gama.ui.wizards.NewExperimentWizard"
             hasPages="true"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
             id="msi.gama.gui.wizards.NewExperimentWizard"
             name="Experiment file"
             project="false">
      </wizard>
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="ummisco.gama.ui.wizards.NewProjectWizard"
            hasPages="true"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
            id="msi.gama.gui.wizards.newProjectWizard"
            name="Gama Project"
            project="true">
      </wizard>
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="ummisco.gama.ui.wizards.NewTestExperimentWizard"
            hasPages="true"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
            id="msi.gama.gui.wizards.NewTestExperimentWizard"
            name="Test experiment file"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="shp,SHP"
            id="msi.gama.gui.shapefile.type"
            name="Shapefile"
            priority="high">
      </content-type>
      <content-type
            default-charset="UTF-8"
            file-extensions="qml,QML,cpg,CPG,prj,shx,dbf,xml,sbn,sbx,qix,qpj,fix,PRJ,SHX,DBF,XML,SBN,SBX,QIX,QPJ,FIX"
            id="msi.gama.gui.shapefile.support.type"
            name="Shapefile support"
            priority="high">
         <property
               name="msi.gama.support.target">
         </property>
      </content-type>
      <content-type
            file-extensions="PNG,png,GIF,gif,JPEG,jpeg,JPG,jpg,BMP,bmp,ICO,ico,TIFF,tiff,TIF,tif,ASC,asc,PGM,pgm"
            id="msi.gama.gui.images.type"
            name="Image"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="CSV,csv,TSV,tsv"
            id="msi.gama.gui.csv.type"
            name="CSV"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="gaml,experiment"
            id="msi.gama.gui.gaml.type"
            name="GAML"
            priority="high">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html, HTML, htm, HTM, svg, SVG"
            id="msi.gama.gui.html.type"
            name="HTML (in GAMA)"
            priority="normal">
      </content-type>
      <content-type
            file-extensions="osm,OSM,pbf,PBF,bz2,BZ2,gz,GZ"
            id="msi.gama.gui.osm.type"
            name="OSM"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="ummisco.gama.ui.navigator.MetaDataServiceFactory">
         <service
               serviceClass="msi.gama.util.file.IFileMetaDataProvider"></service>
      </serviceFactory>
      <serviceFactory
            factoryClass="ummisco.gama.ui.commands.RefreshServiceFactory">
         <service
               serviceClass="ummisco.gama.ui.interfaces.IRefreshHandler">
         </service>
      </serviceFactory>
   </extension>
   <extension
point="org.eclipse.core.expressions.propertyTesters">
<propertyTester
class="ummisco.gama.ui.navigator.ClipboardTester"
id="ummisco.gama.clipboard.tester"
namespace="ummisco.gama"
properties="cbready"
type="java.lang.Object">
</propertyTester>
</extension>
    <extension
          point="org.eclipse.ui.importWizards">
       <wizard
             category="msi.gama.gui.wizards.GAMA"
             class="ummisco.gama.ui.wizards.ImportProjectWizard"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.project2.png"
             id="ummisco.gama.ui.import.ExternalProject"
             name="GAMA Project">
       </wizard>
       <wizard
             category="msi.gama.gui.wizards.GAMA"
             class="ummisco.gama.ui.wizards.FileImportWizard"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.disk2.png"
             id="ummisco.gama.ui.import.ExternalFile"
             name="External files from disk">
       </wizard>
       <wizard
             category="msi.gama.gui.wizards.GAMA"
             class="ummisco.gama.ui.wizards.ZipImportWizard"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.archive2.png"
             id="ummisco.gama.ui.import.ZipFile"
             name="External files from archive">
       </wizard>
       <category
             id="msi.gama.gui.wizards.GAMA"
             name="GAMA">
       </category>
    </extension>
    <extension
          point="org.eclipse.ui.navigator.linkHelper">
       <linkHelper
             class="ummisco.gama.ui.navigator.NavigatorLinkHelper"
             id="ummisco.gama.ui.navigator.linkHelper1">
          <editorInputEnablement>
             <instanceof
                   value="org.eclipse.ui.part.FileEditorInput">
             </instanceof>
          </editorInputEnablement>
          <selectionEnablement>
             <or>
                <instanceof
                      value="ummisco.gama.ui.navigator.contents.WrappedFile">
                </instanceof>
                <instanceof
                      value="ummisco.gama.ui.navigator.contents.WrappedGamaFile">
                </instanceof>
                <adapt
                      type="org.eclipse.core.resources.IFile">
                </adapt>
             </or>
          </selectionEnablement>
       </linkHelper>
    </extension>
    <extension
          point="org.eclipse.ui.propertyPages">
       <page
             class="ummisco.gama.ui.navigator.properties.TopLevelFolderPropertyPage"
             id="ummisco.gama.ui.navigator.properties.samplePropertyPage"
             name="Folder"
             nameFilter="*.*">
          <enabledWhen>
             <instanceof
                   value="ummisco.gama.ui.navigator.contents.TopLevelFolder">
             </instanceof>
          </enabledWhen>
       </page>
    </extension>
</plugin>
