<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="ummisco.gama.ui.navigator.NavigatorBaseLighweightDecorator"
            id="msi.gama.application.decorator"
            label="Metadata Decorator"
            lightweight="true"
            location="REPLACE"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="ummisco.gama.ui.navigator.WrappedFile">
               </objectClass>
               <and>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
                  <or>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.gaml.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.shapefile.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.csv.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.images.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.shapefile.support.type">
                     </objectState>
                     <objectState
                           name="contentTypeId"
                           value="msi.gama.gui.osm.type">
                     </objectState>
                  </or>
               </and>
               <objectClass
                     name="org.eclipse.core.resources.IProject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="ummisco.gama.ui.navigator.NavigatorDateLighweightDecorator"
            id="msi.gama.application.date.decorator"
            label="Date Decorator"
            lightweight="true"
            objectClass="org.eclipse.core.resources.IResource"
            state="false">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:msi.gama.gui.view.GamaNavigator?after=group.new">
         <menu
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
               id="menu.new"
               label="New...">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
                  label="Project..."
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.newProjectWizard">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
                  label="Model…"
                  style="push">
               <parameter
                     name="newWizardId"
                     value="msi.gama.gui.wizards.NewFileWizard">
               </parameter>
            </command>
            <separator
                  name="msi.gama.application.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.newWizard"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
                  label="Other..."
                  style="push">
            </command>
         </menu>
         <menu
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import2.png"
               id="menu.gama.import"
               label="Import..."
               mnemonic=" ">
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.project2.png"
                  label="Project…"
                  style="push">
               <parameter
                     name="importWizardId"
                     value="org.eclipse.ui.wizards.import.ExternalProject">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.disk2.png"
                  label="From disk..."
                  style="push">
               <parameter
                     name="importWizardId"
                     value="org.eclipse.ui.wizards.import.FileSystem">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import.archive2.png"
                  label="From archive..."
                  style="push">
               <parameter
                     name="importWizardId"
                     value="org.eclipse.ui.wizards.import.ZipFile">
               </parameter>
            </command>
            <separator
                  name="msi.gama.application.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.import"
                  icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.import2.png"
                  label="Other..."
                  style="push">
            </command>
         </menu>
         <command
               commandId="msi.gama.application.commands.CopyProjectToWorkspace"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.copy2.png"
               label="Copy to User Models"
               mnemonic="C"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <and>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
                  <count
                        value="+">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <separator
               name="msi.gama.gui.gamaNavigator.separator1"
               visible="true">
         </separator>
         <command
               commandId="msi.gama.application.commands.UpdateBuiltInModelsCommand"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.update2.png"
               label="Update Library"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true"
                        operator="and">
                     <instanceof
                           value="ummisco.gama.ui.navigator.ModelsLibraryFolder">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <separator
               name="msi.gama.gui.gamaNavigator.separator3"
               visible="true">
         </separator>
         <command
               commandId="msi.gama.application.commands.OpenFile"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.open2.png"
               label="Open External File..."
               mnemonic="O"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.navigate.openResource"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.search2.png"
               label="Search file name..."
               mnemonic="S"
               style="push">
         </command>
         <command
               commandId="msi.gama.gui.gamaNavigator.commands.Refresh"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.refresh2.png"
               label="Erase metadata"
               style="push">
            <visibleWhen>
               <and>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IResource">
                        <or>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="msi.gama.gui.images.type">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="msi.gama.gui.csv.type">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="msi.gama.gui.shapefile.type">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.contentTypeId"
                                 value="msi.gama.gui.gaml.type">
                           </test>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                           </adapt>
                        </or>
                     </adapt>
                  </iterate>
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:new?after=new">
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
               label="GAMA Project..."
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.newProjectWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
               label="Model File…"
               style="push">
            <parameter
                  name="newWizardId"
                  value="msi.gama.gui.wizards.NewFileWizard">
            </parameter>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/navigator.new2.png"
               label="Other..."
               style="push">
         </command>
         <separator
               name="msi.gama.application.separator10"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ummisco.gama.ui.commands.ResourceRefreshHandler"
            commandId="msi.gama.gui.gamaNavigator.commands.Refresh">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow">
               <instanceof
                     value="org.eclipse.ui.IWorkbenchWindow">
               </instanceof>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.RefreshHandler"
            id="msi.gama.gui.gamaNavigator.commands.Refresh"
            name="Refresh">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.CopyProjectToWorkspaceHandler"
            id="msi.gama.application.commands.CopyProjectToWorkspace"
            name="Copy to Workspace">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.UpdateBuiltInModelsHandler"
            id="msi.gama.application.commands.UpdateBuiltInModelsCommand"
            name="Update Built-In Models">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.FileOpen"
            id="msi.gama.application.commands.OpenFile"
            name="Open File">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.OpenActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.EditActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.UndoRedoActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.RefactorActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.NewActionProvider">
            </actionExtension>
         </includes>
         <excludes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkManagementActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.WorkingSetActionProvider">
            </actionExtension>
         </excludes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="msi.gama.application.resourceVirtualNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="msi.gama.application.shapefile.filter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <dragAssistant
            class="org.eclipse.ui.navigator.resources.ResourceDragAdapterAssistant"
            viewerId="msi.gama.gui.view.GamaNavigator">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="ummisco.gama.ui.navigator.NavigatorContentProvider"
            id="msi.gama.application.resourceVirtualNavigatorContent"
            labelProvider="ummisco.gama.ui.navigator.NavigatorLabelProvider"
            name="Virtual GamaNavigator Content"
            priority="highest"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <instanceof
                     value="ummisco.gama.ui.navigator.NavigatorRoot">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.VirtualContent">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.WrappedGamlObject">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.WrappedFile">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="ummisco.gama.ui.navigator.VirtualContent">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="ummisco.gama.ui.navigator.NavigatorRoot">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="ummisco.gama.ui.navigator.NavigatorSorter"
               id="msi.gama.navigator.sorter">
            <parentExpression>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <commonSorter
               class="ummisco.gama.ui.navigator.FileFolderSorter">
            <parentExpression>
               <instanceof
                     value="org.eclipse.core.resources.IContainer">
               </instanceof>
            </parentExpression>
         </commonSorter>
         <dropAssistant
               class="ummisco.gama.ui.navigator.NavigatorDropAssistant"
               id="msi.gama.application.dropAssistant1">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="ummisco.gama.ui.navigator.VirtualContent">
                  </instanceof>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="ummisco.gama.ui.navigator.NavigatorFilter"
            id="msi.gama.application.shapefile.filter"
            name="Filters Shapefile support files"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.navigator.GamaNavigator"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/view.navigator2.png"
            id="msi.gama.gui.view.GamaNavigator"
            name="Models"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="msi.gama.gui.wizards.GAMA"
            name="GAMA">
      </category>
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="ummisco.gama.ui.wizards.NewFileWizard"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.model2.png"
            id="msi.gama.gui.wizards.NewFileWizard"
            name="Model file"
            project="false">
      </wizard>
      <wizard
            category="msi.gama.gui.wizards.GAMA"
            class="ummisco.gama.ui.wizards.NewProjectWizard"
            icon="platform:/plugin/ummisco.gama.ui.shared/icons/navigator/new.project2.png"
            id="msi.gama.gui.wizards.newProjectWizard"
            name="Gama Project"
            project="true">
      </wizard>
   </extension>

</plugin>
