<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>p2Repo</id>
			<username>$SSH_USER_ID</username>        
			<password>$SSH_USER_PWD</password>
			<privateKey>$SSH_PRIVATE_KEY</privateKey>
			<filePermissions>666</filePermissions>
			<directoryPermissions>777</directoryPermissions>
			
			<configuration> 
				<host>${{ secrets.SSH_HOST }}</host>
				<port>22</port>
				<sshExecutable>plink</sshExecutable>  
				<StrictHostKeyChecking>no</StrictHostKeyChecking>				
				<knownHostsProvider implementation="org.apache.maven.wagon.providers.ssh.knownhost.NullKnownHostProvider">
                	<hostKeyChecking>no</hostKeyChecking>
            	</knownHostsProvider>
			</configuration>
		</server>
	</servers>

</settings>
