<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

	<servers>
		<server>
			<id>p2Repo</id>
			<username>gamaws</username>
			<password>$USER_PWD</password> 
			<filePermissions>666</filePermissions>
			<directoryPermissions>777</directoryPermissions>
			
			<configuration>
				<host>$SSH_HOST</host>
				<port>22</port>
				<sshExecutable>plink</sshExecutable>
				<scpExecutable>pscp</scpExecutable>
				<timeout>120000000</timeout> 
			</configuration>
		</server>
	</servers>

</settings>
