<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="gaml,experiment"
			id="msi.gama.lang.gaml.Gaml"
			name="Gaml Editor">
     <contentTypeBinding
           contentTypeId="msi.gama.gui.gaml.type">
     </contentTypeBinding>
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="msi.gama.lang.gaml.Gaml.validate">
		<activeWhen>
			<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="msi.gama.lang.gaml.Gaml.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="msi.gama.lang.gaml.Gaml.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="msi.gama.lang.gaml.Gaml"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="msi.gama.lang.gaml.Gaml.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="msi.gama.lang.gaml.Gaml"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="msi.gama.lang.gaml.Gaml"
			name="Gaml">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
		</page>
<!--		<page
			category="msi.gama.lang.gaml.Gaml"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="msi.gama.lang.gaml.Gaml.coloring"
			name="Syntax Coloring">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
		</page>
-->
		<page
			category="msi.gama.lang.gaml.Gaml"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="msi.gama.lang.gaml.Gaml.templates"
			name="Templates">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
		</page>
        <page
              category="msi.gama.lang.gaml.Gaml"
              class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
              id="msi.gama.lang.gaml.Gaml.refactoring"
              name="Refactoring">
           <keywordReference
                 id="msi.gama.lang.gaml.ui.keyword_Gaml">
           </keywordReference>
        </page>
        <page
              category="msi.gama.lang.gaml.Gaml"
              class="msi.gama.lang.gaml.ui.editbox.EditboxPreferencePage"
              id="pm.eclipse.editbox.pref.default"
              name="EditBox">
        </page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="msi.gama.lang.gaml.Gaml"
			name="Gaml">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="msi.gama.lang.gaml.ui.keyword_Gaml"
			label="Gaml"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="msi.gama.lang.gaml.Gaml.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="msi.gama.lang.gaml.Gaml.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="msi.gama.lang.gaml.Gaml.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
			  <menuContribution
        allPopups="false"
        locationURI="menu:org.eclipse.ui.main.menu">
     <dynamic
           class="ummisco.gama.ui.modeling.EditorMenu"
           id="ummisco.gama.ui.modeling.dynamic5">
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
           </reference>
        </visibleWhen>
     </dynamic>
  </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="menu:file?before=save.ext">
        <command
              commandId="ummisco.command.clean.build"
              disabledIcon="platform:/plugin/ummisco.gama.ui.shared/icons/build/build.all_disabled.png"
              icon="platform:/plugin/ummisco.gama.ui.shared/icons/build/build.all.png"
              label="Clean and validate all"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>

	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="gaml">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="gaml">
		</resourceServiceProvider>
        <resourceServiceProvider
              class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
              uriExtension="experiment">
        </resourceServiceProvider>
    </extension>
    
    <extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="experiment">
		</parser>
	</extension>
	<!-- marker definitions for msi.gama.lang.gaml.Gaml -->
	<extension
			id="gaml.check.fast"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="gaml.check.normal"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="gaml.check.expensive"
			name="Gaml Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="gaml"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="msi.gama.lang.gaml.Gaml"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="msi.gama.lang.gaml.Gaml.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="msi.gama.lang.gaml.Gaml"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="msi.gama.lang.gaml.Gaml.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
  <command
        defaultHandler="ummisco.gama.ui.modeling.CleanBuildCommand"
        id="ummisco.command.clean.build"
        name="Clean and build all models">
  </command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="msi.gama.lang.gaml.Gaml.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for msi.gama.lang.gaml.Gaml -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ummisco.gama.ui.modeling.gaml.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ummisco.gama.ui.modeling.gaml.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ummisco.gama.ui.modeling.gaml.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="msi.gama.lang.gaml.Gaml.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="msi.gama.lang.gaml.Gaml"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="msi.gama.lang.gaml.Gaml.refactoring"
			name="Refactoring">
			<keywordReference id="msi.gama.lang.gaml.ui.keyword_Gaml"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="msi.gama.lang.gaml.Gaml.compare.contentViewers"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="gaml,experiment">
		</viewer>
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="msi.gama.lang.gaml.Gaml.compare.contentMergeViewers"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="gaml,experiment" label="Gaml Compare">
		</viewer>
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="msi.gama.lang.gaml.Gaml.editors.documentProviders"
			class="msi.gama.lang.gaml.ui.GamlExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="gaml,experiment">
		</provider>
	</extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="msi.gama.gui.category.gama"
          class="org.eclipse.ui.views.contentoutline.ContentOutline"
          icon="platform:/plugin/ummisco.gama.ui.shared/icons/views/tabs/view.outline.png"
          id="msi.gama.application.outline"
          name="Outline"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="msi.gama.gui.category.gama"
          class="ummisco.gama.ui.views.SyntaxErrorsView"
          icon="platform:/plugin/ummisco.gama.ui.shared/icons/views/tabs/view.problems.png"
          id="msi.gama.application.problems"
          name="Validation"
          restorable="true">
    </view>
    <view
          class="msi.gama.lang.gaml.ui.templates.TemplatesView"
          id="msi.gama.lang.gaml.ui.templates"
          name="Templates"
          restorable="true">
    </view>
 </extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="gaml"
			type="text">
		</fileTypes>
		<fileTypes
			extension="experiment"
			type="text">
		</fileTypes>
	</extension>
	    <extension point="org.eclipse.ui.decorators">
           <decorator
                 adaptable="true"
                 class="msi.gama.lang.gaml.ui.decorators.GamlDecorator"
                 id="msi.gama.light.decorator"
                 label="Gaml Errors"
                 lightweight="true"
                 location="TOP_LEFT"
                 state="true">
          <description>
             Aggregates errors in resources to folders and projects.
          </description>
          <enablement>
             <or>
                <objectClass
                      name="org.eclipse.core.resources.IFile">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedProject">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedFolder">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.TopLevelFolder">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedModelContent">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedExperimentContent">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedSyntacticContent">
                </objectClass>
                <objectClass
                      name="ummisco.gama.ui.navigator.contents.WrappedLink">
                </objectClass>
             </or>
          </enablement>
       </decorator>
	</extension>
    <extension
          point="org.eclipse.ui.startup">
       <startup
             class="msi.gama.lang.gaml.ui.AutoStartup">
       </startup>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerSupport">
          
      
      
      
      
      
      
          
          
          
       <markerContentGenerator
             defaultMarkerGrouping="org.eclipse.ui.ide.allMarkers.severity"
             id="msi.gama.lang.gaml.ui.error.generator"
             name="Error Generator">
          <markerTypeReference
                id="org.eclipse.xtext.ui.task">
          </markerTypeReference>             
             
             
          <markerTypeReference
                id="ummisco.gama.ui.modeling.gaml.check.expensive">
          </markerTypeReference>
          <markerTypeReference
                id="ummisco.gama.ui.modeling.gaml.check.normal">
          </markerTypeReference>
          <markerTypeReference
                id="ummisco.gama.ui.modeling.gaml.check.fast">
          </markerTypeReference>
             
         <markerGrouping
               id="org.eclipse.ui.ide.allMarkers.severity"
               label="Severity">
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.errorSeverity"
                  label="Errors"
                  priority="30">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.warningSeverity"
                  label="Warnings"
                  priority="20">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.other"
                  label="Information"
                  priority="10">
            </markerGroupingEntry>
                        <markerGroupingEntry
                              id="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                              label="Tasks"
                              priority="5">
                        </markerGroupingEntry>
            <markerAttributeGrouping
                  attribute="severity"
                  defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                  markerType="ummisco.gama.ui.modeling.gaml.check.fast">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                              markerType="ummisco.gama.ui.modeling.gaml.check.normal">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                              markerType="ummisco.gama.ui.modeling.gaml.check.expensive">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
                        <markerAttributeGrouping
                              attribute="severity"
                              defaultGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                              markerType="org.eclipse.xtext.ui.task">
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="2">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="1">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="0">
                           </markerAttributeMapping>
                           <markerAttributeMapping
                                 markerGroupingEntry="org.eclipse.ui.ide.allmarkers.toDoSeverity"
                                 value="-1">
                           </markerAttributeMapping>
                        </markerAttributeGrouping>
            
         </markerGrouping>
          <markerFieldConfiguration
                enabled="true"
                id="msi.gama.lang.gaml.ui.markerFieldConfiguration1"
                name="Problems"
                scope="ON_ANY"
                values="ummisco.gama.ui.views.GamlProblems">
          </markerFieldConfiguration>
          <markerFieldReference
                id="msi.gama.lang.gaml.ui.description.field"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="msi.gama.lang.gaml.ui.project.field"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="org.eclipse.ui.ide.resourceField"
                visible="true">
          </markerFieldReference>
          <markerFieldReference
                id="org.eclipse.ui.ide.locationField"
                visible="true">
          </markerFieldReference>
       </markerContentGenerator>
       <markerField
             class="msi.gama.lang.gaml.ui.markers.ProjectMarkerField"
             id="msi.gama.lang.gaml.ui.project.field"
             name="Project">
       </markerField>
       <markerField
             class="msi.gama.lang.gaml.ui.markers.GamlDescriptionMarkerField"
             id="msi.gama.lang.gaml.ui.description.field"
             name="Description">
       </markerField>
    </extension>
    <extension
          point="org.eclipse.ui.ide.markerImageProviders">
       <imageprovider
             class="msi.gama.lang.gaml.ui.markers.GamlMarkerImageProvider"
             id="msi.gama.lang.gaml.ui.imageprovider.normal"
             markertype="ummisco.gama.ui.modeling.gaml.check.normal">
       </imageprovider>
       <imageprovider
             class="msi.gama.lang.gaml.ui.markers.GamlMarkerImageProvider"
             id="msi.gama.lang.gaml.ui.imageprovider.expensive"
             markertype="ummisco.gama.ui.modeling.gaml.check.expensive">
       </imageprovider>
       <imageprovider
             class="msi.gama.lang.gaml.ui.markers.GamlMarkerImageProvider"
             id="msi.gama.lang.gaml.ui.imageprovider.fast"
             markertype="ummisco.gama.ui.modeling.gaml.check.fast">
       </imageprovider>
    </extension>
    <extension
          point="org.eclipse.ui.editors.markerAnnotationSpecification">
       <specification
             annotationType="org.eclipse.ui.workbench.texteditor.info"
             colorPreferenceKey="infoIndicationColor"
             colorPreferenceValue="0,0,255"
             contributesToHeader="false"
             highlightPreferenceKey="infoIndicationHighlighting"
             highlightPreferenceValue="false"
             isGoToNextNavigationTarget="false"
             isGoToNextNavigationTargetKey="isInfoGoToNextNavigationTarget"
             isGoToPreviousNavigationTarget="false"
             isGoToPreviousNavigationTargetKey="isInfoGoToPreviousNavigationTarget"
             label="Information"
             overviewRulerPreferenceKey="infoIndicationInOverviewRuler"
             overviewRulerPreferenceValue="true"
             presentationLayer="4"
             showInNextPrevDropdownToolbarAction="true"
             showInNextPrevDropdownToolbarActionKey="showInfoInNextPrevDropdownToolbarAction"
             symbolicIcon="info"
             textPreferenceKey="infoIndication"
             textPreferenceValue="false"
             textStylePreferenceKey="infoTextStyle"
             textStylePreferenceValue="SQUIGGLES"
             verticalRulerPreferenceKey="infoIndicationInVerticalRuler"
             verticalRulerPreferenceValue="true">
       </specification>
    </extension>
    <extension
          point="org.eclipse.ui.actionSets">
       <actionSet
             id="msi.gama.lang.gaml.ui.actionSet1"
             label="Search Gaml Elements"
             visible="true">
          <action
                class="msi.gama.lang.gaml.ui.editor.DelegateForAllElements"
                icon="platform:/plugin/ummisco.gama.ui.shared/icons/generic/menu.searchtext.png"
                id="msi.gama.application.action1"
                label="GAML elements in models..."
                menubarPath="org.eclipse.search.menu/extraSearchGroup"
                style="push"
                tooltip="Search for any element defined in the GAML models present in the workspace">
          </action>
       </actionSet>
    </extension>
    <extension 
          point="org.eclipse.ui.perspectiveExtensions">
       <perspectiveExtension
             targetID="msi.gama.application.perspectives.ModelingPerspective">
          <view
                closeable="false"
                id="msi.gama.gui.view.GamaNavigator"
                minimized="false"
                moveable="true"
                ratio="0.25"
                relationship="left"
                relative="org.eclipse.ui.editorss"
                visible="true">
          </view>
          <view
                closeable="true"
                id="msi.gama.application.outline"
                minimized="false"
                moveable="true"
                ratio="0.70"
                relationship="bottom"
                relative="msi.gama.gui.view.GamaNavigator"
                visible="false">
          </view>
          <view
                closeable="true"
                id="msi.gama.application.problems"
                minimized="false"
                moveable="true"
                relationship="stack"
                relative="msi.gama.application.outline"
                visible="true">
          </view>
          <viewShortcut
                id="msi.gama.application.outline">
          </viewShortcut>
          <viewShortcut
                id="msi.gama.application.problems">
          </viewShortcut>
          <perspectiveShortcut
                id="msi.gama.application.perspectives.SimulationPerspective">
          </perspectiveShortcut>
          <view
                closeable="true"
                id="msi.gama.application.view.InteractiveConsoleView"
                minimized="false"
                moveable="true"
                ratio="0.7"
                relationship="bottom"
                relative="org.eclipse.ui.editorss"
                showTitle="true"
                standalone="false"
                visible="true">
          </view>
          <viewShortcut
                id="msi.gama.application.view.InteractiveConsoleView">
          </viewShortcut>
       </perspectiveExtension>
    </extension>
    <extension
          point="org.eclipse.ui.perspectives">
       <perspective
             class="ummisco.gama.ui.perspective.ModelingPerspective"
             fixed="false"
             icon="platform:/plugin/ummisco.gama.ui.shared/icons/views/perspective.modeling.png"
             id="msi.gama.application.perspectives.ModelingPerspective"
             name="Modeling">
          <description> 
             The perspective used to edit GAMA models
          </description>
       </perspective>
    </extension>
    <extension
          point="org.eclipse.ui.services">
       <serviceFactory
             factoryClass="msi.gama.lang.gaml.ui.utils.ModelRunner">
          <service
                serviceClass="ummisco.gama.ui.interfaces.IModelRunner"></service>
       </serviceFactory>
       <serviceFactory
             factoryClass="msi.gama.lang.gaml.ui.outline.LabelProviderFactory">
          <service
                serviceClass="msi.gama.common.interfaces.IGamlLabelProvider">
          </service>
       </serviceFactory>
    </extension>
    <extension
          point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
       <module
             class="msi.gama.lang.gaml.ui.OverridingModule">
       </module>
    </extension>
    <extension point="org.eclipse.ui.handlers">
	<handler class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:cut" commandId="org.eclipse.ui.edit.cut">
		<activeWhen>
			<with variable="activeFocusControlId">
				<equals value="search"/>
			</with>
		</activeWhen>
	</handler>
	<handler class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:copy" commandId="org.eclipse.ui.edit.copy">
		<activeWhen>
			<with variable="activeFocusControlId">
				<equals value="search"/>
			</with>
		</activeWhen>
	</handler>
	<handler class="org.eclipse.ui.internal.handlers.WidgetMethodHandler:paste" commandId="org.eclipse.ui.edit.paste">
		<activeWhen>
			<with variable="activeFocusControlId">
				<equals value="search"/>
			</with>
		</activeWhen>
	</handler>
</extension>
  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes
            extension="gaml"
            type="text">
    </fileTypes>
    <fileTypes
            extension="experiment"
            type="text">
    </fileTypes>
  </extension>
</plugin>
