<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
   <extension
         name="serialize"
         point="gama.experiment">
      <implementation
            class="ummisco.gama.serializer.experiment.ExperimentBackwardAgent"
            keyword="memorize">
      </implementation>
   </extension>

</plugin>
