<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product"
         name="Base product"
         point="org.eclipse.core.runtime.products">
      <product
            application="msi.gama.application.GamaApplication"
            name="Gama">
         <property
               name="windowImages"
               value="branding_icons/icon16.png,branding_icons/icon32.png,branding_icons/icon48.png,branding_icons/icon64.png,branding_icons/icon128.png,branding_icons/icon256.png">
         </property> 
         <property
               name="aboutText"
               value="GAMA Platform - V1.8.2 http://gama-platform.org&#x0A;&#x0A;(c) 2007-2008 IRD-UR GEODES (France) &amp; IFI-MSI (Vietnam)&#x0A;(c) 2009-2011 UMI 209 UMMISCO IRD/UPMC - MSI (Vietnam)&#x0A;(c) 2012-2017 UMI 209 UMMISCO IRD/UPMC &amp; Partners&#x0A;(c) 2018-2020 UMI 209 UMMISCO IRD/SU &amp; Partners">
         </property>
         <property
               name="aboutImage"
               value="branding_icons/icon128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="165E93">
         </property>
         <property
               name="startupProgressRect"
               value="71,515,500,12">
         </property>
         <property
               name="startupMessageRect"
               value="230,490,500,16">
         </property>
         <property
               name="appName"
               value="Gama">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

   <extension
         id="GamaApplication"
         name="Gama"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="msi.gama.application.Application">
            <parameter
                  name="preferenceCustomization"
                  value="plugin_customization.ini">
            </parameter>
         </run>
      </application>
   </extension>

      <extension
         id="gamaNature"
         name="GAMA project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="msi.gama.application.projects.GamaNature"> 
         </run>
      </runtime>
      <content-type
            id="msi.gama.gui.gaml.type">
      </content-type>
   </extension>
   
         <extension
               id="builtinNature"
               name="GAMA built-in project"
               point="org.eclipse.core.resources.natures">
            <runtime>
               <run
                     class="msi.gama.application.projects.BuiltinNature">
               </run>
            </runtime>
            <requires-nature
                  id="msi.gama.application.gamaNature">
            </requires-nature>
         </extension>
         <extension
               id="pluginNature"
               name="GAMA plugin project"
               point="org.eclipse.core.resources.natures">
            <runtime>
               <run
                     class="msi.gama.application.projects.PluginNature">
               </run>
            </runtime>
            <requires-nature
                  id="msi.gama.application.gamaNature">
            </requires-nature>
         </extension>
         <extension
               id="runtime"
               point="org.eclipse.core.runtime.products">
            <product
                  application="msi.gama.application.GamaApplication"
                  name="Gama (runtime)">
               <property
                     name="windowImages"
                     value="branding_icons/icon16.png,branding_icons/icon32.png,branding_icons/icon48.png,branding_icons/icon64.png,branding_icons/icon128.png,branding_icons/icon256.png">
               </property>
               <property
                     name="aboutText"
                     value="GAMA Platform - V1.8.2 - http://gama-platform.org&#x0A;&#x0A;(c) 2007-2008 IRD-UR GEODES (France) &amp; IFI-MSI (Vietnam)&#x0A;(c) 2009-2011 UMI 209 UMMISCO IRD/UPMC - MSI (Vietnam)&#x0A;(c) 2012-2017 UMI 209 UMMISCO IRD/UPMC &amp; Partners&#x0A;(c) 2018-2021 UMI 209 UMMISCO IRD/SU &amp; Partners">
               </property>
               <property
                     name="aboutImage"
                     value="branding_icons/icon128.png">
               </property>
               <property
                     name="startupForegroundColor"
                     value="165E93">
               </property>
               <property
                     name="startupProgressRect"
                     value="71,515,500,12">
               </property>
               <property
                     name="startupMessageRect"
                     value="230,490,500,16">
               </property>
               <property
                     name="appName"
                     value="Gama (runtime)">
               </property>
               <property
                     name="preferenceCustomization"
                     value="plugin_customization.ini">
               </property>
            </product>
         </extension>

         <extension
               id="testNature"
               name="GAMA test project"
               point="org.eclipse.core.resources.natures">
            <runtime>
               <run
                     class="msi.gama.application.projects.TestNature">
               </run>
            </runtime>
             <requires-nature
                  id="msi.gama.application.gamaNature">
            </requires-nature>
         </extension>

</plugin>
