<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Gama</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gaml</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Model.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gama Model</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>experiment</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Experiment.icns</string>
			<key>CFBundleTypeName</key>
			<string>Gama Experiment</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Gama</string>
	<key>CFBundleGetInfoString</key>
	<string>Gama 1.9.2, modeling and simulation platform</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Gama</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Gama</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9.2</string>
	<key>CFBundleSignature</key>
	<string>GAMA</string>
	<key>CFBundleVersion</key>
	<string>1.9.2</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>True</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHumanReadableCopyright</key>
	<string>UMMISCO IRD/SU and partners 2006-2023 http://gama-platform.org</string>
</dict>
</plist>
